/* Google font  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Work Sans", sans-serif;
}

/* <!-- nav section CSS start from here  --> */

.header-nav-section {
  display: flex;
  justify-content: space-around;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
  padding: 20px 0px;
}

.main-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.main-logo h2 {
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
}

.main-logo span {
  color: #ff42a5;
}

.nav-item-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

.nav-item-list li {
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 3px 8px;
}

.fa-youtube {
  color: red;
  padding: 0 5px;
}

/* <!-- nav section end --> */